.weather-data {
    text-align: center; 
  }
  
  .h2-data {
    margin: 20px 0;
    color: antiquewhite;
  }
  .weather-cards {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
  }